<ion-view view-title="Introduccion" >
	<ion-content>
	        <ion-slide-box>
            <ion-slide>
                <div class="slide" style="text-align:center">
                    <h1>Bienvenido</h1>
					<img style="max-height:90%;max-width:70%" src="http://i.imgur.com/RAmLUSf.png" />
					<p>Aqui habra una imagen de la aplicacion en general donde se muestre una imagen de la aplicacion base, desde la tab inicial. Que seria registro de drone</p>
					
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide" style="text-align:center">
                    <h1>Registrate</h1>
                    <img style="max-height:90%;max-width:70%" src="../default/images/registro.jpg" />
					<p>Aqui habra una imagen donde se muestre la aplicacion desde un dispositivo ios, la pantalla de registro con los botones de facebook, google + y twitter</p>
                </div>
            </ion-slide>
            <ion-slide>
            	<div class="slide" style="text-align:center">
            		<h1>Agrega</h1>
            		<img style="max-height:90%;max-width:70%" src="../default/images/agregadrone.jpg" />
            		<p>Aqui habra una imagen donde se muestre la ventana del registro dentro de un dispositivo movil</p>
            	</div>
            </ion-slide>
            <ion-slide>
            	<div class="slide" style="text-align:center">
            		<h1>Vuela</h1>
            		<img style="max-height:90%;max-width:70%;" src="http://i.imgur.com/RAmLUSf.png" />
            		<p>Aqui habra una imagen que demuestre como la aplicacion vuela un drone, en etapa experimental.</p>
            	</div>
            </ion-slide>
        </ion-slide-box>
	</ion-content>
</ion-view>