<ion-view view-title="Login" >
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Usuario" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Contrase&ntilde;a" ng-model="data.password">
          </label>
      </div>
      <a type="button" class="button button-block button-calm"  href="#/tab/dash">Iniciar sesion</a>
  </ion-content>
</ion-view>