

<ion-view view-title="Vuelo" >
	<ion-content>
		<div class="list">

  			<label class="item item-input item-select">
    		<div class="input-label">
      		Drone :
    		</div>
    		<select>
      		<option selected>Mike's Drone</option>
      		<option>Jerry's Drone</option>
      		<option>Dany's Drone</option>
      		<option>Juan's Drone</option>
    		</select>
  			</label>
  			<label class="item item-radio">
    		<input type="radio" name="group">
    		<div class="item-content">
      		Asegurado
    		</div>
    		<i class="radio-icon ion-checkmark"></i>
  			</label>
  			<label class="item item-radio">
    		<input type="radio" name="group">
    		<div class="item-content">
      		No asegurado
    		</div>
    		<i class="radio-icon ion-checkmark"></i>
  			</label>

			</div>
	<div>
	<a type="button" class="button button-full button-positive"> Comenzar vuelo</a>
	</div>
	</ion-content>
	
</ion-view>