<ion-view view-title="DroneMaster" style="height:100%;" >
                                                                                                                
  <ion-content>
 	<div class="logo" style="text-align:center;">
 		<img src="../default/images/icon.png" style="max-height:95%;max-width:90%;">
 	</div>
 	<div class="registroBtn" style="padding-bo ttom:20px">
 		<a class="button button-block button-calm" href="#/registro">Registro</a>
 	</div>
 	<div class="inicioBtn">
 		<a class="button button-block button-calm" href="#login">Inicio de sesion</a>
 	</div>
 	<div class="introBtn" style="padding-top:20px">
 		<a class="button button-block button-positive" href="#/intro">Introduccion</a>
 	</div>
</ion-content>

        
    </div>
</ion-view>