<ion-view view-title="Registro" name="registro-view">
	<ion-content>
		<ion-list>
		<label class="item item-input">
			<span class="input-label" >Nombre</span>
			<input type="text" placeholder="">
		</label>
		<label class="item item-input">
			<span class="input-label">Apellido</span>
			<input type="text" placeholder="">
		</label>
		<label class="item item-input">
  			<span class="input-label">Correo</span>
  			<input type="email" placeholder="">
		</label>
		<label class="item item-input">
			<span class="input-label">Contrase&ntilde;a</span>
			<input type="password" placeholder="">
		</label>
		<label class="item item-input">
			<span class="input-label">Confirmar contrase&ntilde;a</span>
			<input type="password" placeholder="">
		</label>
		<a type="button" class="button button-full button-assertive"  href="#/tab/dash" ">Registrarse</a>
		<div class="button-bar">
  <button class="button button-clear"><i class="icon ion-social-facebook"></i></button>
  <button class="button button-clear"><i class="icon ion-social-twitter"></i></button>
  <button class="button button-clear"><i class="icon ion-social-googleplus"></i></button>
</div>
		</ion-list>
	</ion-content>
</ion-view>