<ion-view view-title="Principal">
  <ion-content>
    	<div>
    		<div class="item ">
    		<a type="button" class="button icon-right ion-ios-arrow-right button-clear button-stable button-full button-small" href="#/tab/vuelo" >Volar</a>		
 			</div>  			 			
 			<div class="item">
    		<a type="button" class="button icon-right ion-ios-arrow-right button-clear button-stable button-full button-small" href="#/tab/areas">Areas</a>
 			</div>  			
 			<div class="item">
    		<a type="button" class="button icon-right ion-ios-arrow-right  button-clear button-stable button-full button-small" href="#">Historial</a>
 			</div>   			
 			<div class="item">
    		<a type="button" class="button icon-right ion-ios-arrow-right button-clear button-stable button-full button-small" href="#/tab/videos">Videos</a>
 			</div>   			
 			<div class="item">
    		<a type="button" class="button icon-right ion-ios-arrow-right button-clear button-stable button-full button-small" href="#">Normas</a>
 			</div>  
    		
    		
    	</div>
  </ion-content>
</ion-view>
