<ion-view view-title="videos">
	<ion-content>
		<ion-slide-box>
			<ion-slide>
				<div class="slide" style="text-align:center;">
					<ion-item>
					<h2>Video 1</h2>
						<div class="video-container" >
							<iframe src="https://www.youtube.com/embed/wyVM1evRxNw"  width="100%" height="100%"></iframe>
						</div>
					</ion-item>
					<p>Contenido bla bla bla</p>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="slide" style="text-align:center;">
					<ion-item>
					<h2>Video 2</h2>
						<div class="video-container" >
							<iframe src="https://www.youtube.com/embed/wyVM1evRxNw"  width="100%" height="100%"></iframe>
						</div>
					</ion-item>
					<p>Contenido bla bla bla</p>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="slide" style="text-align:center;">
					<ion-item>
					<h2>Video 3</h2>
						<div class="video-container">
							<iframe src="http://www.twitch.tv/riotgames/embed"  height="378" width="620"></iframe>
						</div>
					</ion-item>
					<p>Contenido bla bla bla</p>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>